<style>
  .specific-pro-error{
    display:none;
  }
</style>

-------------------------------------------------------------
Add the code where you want the message to show
--------------------------------------------------------------
<p class="specific-pro-error">Only add Frames collection products.</p>
--------------------------------------------------


-------------------------------------------------------------
Replace this code to old button tag in product form 
--------------------------------------------------------------
<button
    type="submit"
    name="add"
    class="product-form__submit button {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
    data-id="{{product.selected_or_first_available_variant.id}}"      
  {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
  >
      <span>
        {%- if product.selected_or_first_available_variant.available -%}
          {{ 'products.product.add_to_cart' | t }}
        {%- else -%}
          {{ 'products.product.sold_out' | t }}
        {%- endif -%}
      </span>
      <div class="loading-overlay__spinner hidden">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
  </button>
